<html>

  <head>
    <title> CONTRIBUTE PAGE </title>
  </head>
  <body>
    <h2>
      Welcome: {{ session["username"] }}
    </h2>
    <form action="/logout" method="GET">
      <button type="submit"> logout </button>
    </form>
    <form action="/homepage">
      <button type="submit">homepage</button>
    </form>
    <h1>Start writing a story:</h1>
    <form action="/create_story" method="GET">
      <button type="submit">Start story</button>
    </form>
    <h1>Stories you can contribute to:</h1>
    <form action="/contribute_story" method="GET">
      <label for="genre">Filter for:</label>
      <select name="genre" id="genre">
        <option value="All">All</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Crime/Mystery">Crime/Mystery</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Horror">Horror</option>
        <option value="Contemporary">Contemporary</option>
        <option value="Misc.">Misc.</option>
      </select>
      <input type="submit" name="sub1">  
    </form>
    {% for item in stories %}
    <h4>{{ item[0] }}</h4>
    <form action="/find_stories" method="POST">
      <input type="hidden" name="type" value="add">
      <button type="submit" name="title" value="{{ item[0] }}"> Add to story </button>
    </form>
    <h4>Last Contribution:</h4>
    <p>{{ item[2] }}</p>
     <p>{{ item[1] }}</p>
     <br>
    {% endfor %}
  </body>

</html>