<html>

  <head>
    <title> STORY PAGE </title>
  </head>
  <body>
    <form action="/">
      <button type="submit">back</button>
    </form>
    <h2> CREATE THY TALE
    </h2>
      <form action="/homepage" method = "POST">
        <input type="text" name="title" placeholder="title"> <br>
        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
          <option value="good">Good</option>
          <option value="good">Bad</option>
        </select> <br>
        <input type="password" name="body" placeholder="In the beginning...">  <br>
        <input type="submit" name="sub1">  
      </form>
  </body>

</html>