<!DOCTYPE html>
<!-- 
 Green Monkeys; Daniel He, Faiyaz Rafee
SoftDev
K19 -- Cookies
2022-11-3
time spent:
 -->
<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>
  <body>
    <form action = "/register" method="GET">
      <button type="submit">Sign up</button>
    </form>
    <h3>
      Enter your username below to LOGIN.
    </h3>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="submit" name="sub1">
    </form>
    <br>
    <h3 style="color:rgb(219, 0, 0);">
      {{error | safe}}
    </h3>
  </body>

</html>
