<!DOCTYPE html>
<!-- 
 Green Monkeys; Daniel He, Faiyaz Rafee
SoftDev
K19 -- Cookies
2022-11-3
time spent:
 -->
<html>
  <head>
    <title> LOGIN PAGE </title>
    <link rel="stylesheet"
    type="text/css"
    href="../static/box.css"/>
  </head>
  <body>
    <div class="row">
      <div class="column">
          {% for item in range(7) %}
            <div class="story">
              <b>STORY</b> <em>Story</em> story<br>
            </div>
          {% endfor %}
      </div>
      <div class="column" style="margin-top: 30vh; font-family: 'Courier New', Courier, monospace;">
        <p>A collaborative storytelling website by <b>Green Monkeys</b>.</p>
        <form action = "/register" method="GET">
          <button type="submit">Sign up</button>
        </form>
        <h3>
          Enter your username below to LOGIN.
        </h3>
        <form action="/login" method="POST">
          <label for="user">Username:</label>
          <input type="text" name="username" placeholder="username" id="user"> <br>
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="password" id ="password">
          <input type="submit" name="sub1">
        </form>
        <h3 style="color:rgb(219, 0, 0);">
          {{error | safe}}
        </h3>
      </div>
    </div>
  </body>
</html>
