<html>

  <head>
    <title> RESPONSE PAGE </title>
    <link rel="stylesheet"
    type="text/css"
    href="../static/home.css"/>
    <link rel="stylesheet"
    type="text/css"
    href="../static/box.css"/>
  </head>
  <body>

      <h2 class="nav">
        Welcome: {{username}}
      </h2>
      <form action="/logout" method="GET">
        <button type="submit" class="nav_form"> Logout</button>
      </form>

    <br>
    <br>
    <br>

      <form action="/create_story" method="GET">
        <label for="lover">Start writing a new story:</label>
        <button type="submit" id = "lover">Start story</button>
      </form>
    <form action="/contribute_story" method="GET">
      <label for="creative">Contribute to a story:</label>
      <button type="submit" name = "genre" value = "All" id="creative">Contribute</button>
    </form>
    <div>     
        <h3 style="text-align: center;">Read the stories you contributed to:</h3>
        {% for item in stories %}
        <div class = "card">
          <div style="display: flex;">
            <h1 class="title">{{ item[0] }}</h1>
            <form action="/find_stories" method="POST" class="start">
              <input type="hidden" name="type" value="read">
              <button type="submit" name="title" value="{{ item[0] }}" style="width:93px;"> Start reading </button>
            </form>
            <p class ="genre">{{ item[3] }}</p>
          </div>
          <div class="bottom">
        <h4>You Wrote:</h4>
        <p class="text_body">{{ item[2] }}</p>
        <p class="date">{{ item[1] }}</p>
      </div>
      </div>
        {% endfor %}
    </div>
  </body>

</html>